<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/node/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node/projects/circle_of_life">Circle of Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node/projects/techno_drums">Techno Drums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node/projects/snakes_and_ladders">Snakes and Ladders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node/projects/css_js_clock">CSS JS Clock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node/projects/game_of_life">Game of Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bio</a>
      </li>
    </ul>
  </div>
</nav>
