
    <div id="gameworld" style="
    overflow:none;
    white-space: pre;
    font-family: Courier New, Courier, monospace;
    padding: 4em;
    width: 100%;
    background-color: white">

    </div>
    <button type="button" class="btn btn-success" id="start">Start</button>
    <button type="button" class="btn btn-danger" id="stop">Stop</button>

<script type="text/javascript" src="node/public/wildlife_simulator/main.js"></script>
<script type="text/javascript" src="node/public/wildlife_simulator/lifelikeworld.js"></script>
<script type="text/javascript" src="node/public/wildlife_simulator/planteater.js"></script>
<script type="text/javascript" src="node/public/wildlife_simulator/predator.js"></script>
<script type="text/javascript" src="node/public/wildlife_simulator/smartplanteater.js"></script>
