
<div>
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h3 class="card-title">
                The Circle of life.
            </h3>
            <p class="card-text">
                The circle of life simulates a prarie where there are brown buffalo, red wolves and green grass.
                The grass grows and eventualy spreads. The buffalo wander around and find grass to eat, and the wolves wander around and find buffalo to eat.
                Just like real life, the animals can overeat and destroy their ecosystem.
                Press start to see the circle of life in action.
            </p>


    <div id="gameworld" style="
    overflow:none;
    white-space: pre;
    font-family: Courier New, Courier, monospace;
    padding: 4em;
    width: 100%;
    background-color: white">

    </div>
    <form class="form" action="" method="post">
        <button type="button" class="btn btn-success" id="start">Start</button>
        <button type="button" class="btn btn-danger" id="stop">Stop</button>
    </form>
</div>
</div>
</div>


<script type="text/javascript" src="/node/public/wildlife_simulator/main.js"></script>
<script type="text/javascript" src="/node/public/wildlife_simulator/lifelikeworld.js"></script>
<script type="text/javascript" src="/node/public/wildlife_simulator/planteater.js"></script>
<script type="text/javascript" src="/node/public/wildlife_simulator/predator.js"></script>
<script type="text/javascript" src="/node/public/wildlife_simulator/smartplanteater.js"></script>
