<% include partials/head %>
<%- include partials/navbar %>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="jumbotron bg-dark">
            <h1 class="display-3">Robert Bowes</h1>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="container bg-dark" id="main">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-ss1521407388="1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">P5 Projects</h5>
                        <small class="text-muted">Visuals and Animation</small>
                    </div></a>

                    <a class="list-group-item list-group-item-action" href="/node/projects/circle_of_life">Circle of Life</a>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-ss1521407388="1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Javascript 30 Challenges</h5>
                            <small class="text-muted">Vanilla Javascript and CSS</small>
                        </div></a>

                        <a class="list-group-item list-group-item-action" href="/node/projects/circle_of_life">Circle of Life</a>
                    </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
