<% include partials/head %>
<%- include partials/navbar %>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="jumbotron bg-dark">
            <h1 class="display-3">Robert Bowes</h1>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="container bg-dark" id="main">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-ss1521407388="1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">P5 Projects</h5>
                        <small class="text-muted">Visuals and Animation</small>
                    </div></a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/3d_terrain_generation">3D Terrain Generation</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/fractal_tree_oop">Growing Fractal Tree</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/fractal_tree">Fractal Tree</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/functional_space_colonization">Space Colonization Tree</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/game_of_life">Game of Life</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/grass_generator">Grass Generator</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/gravity">Gravity Simulator</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/into_the_void">Into the Void</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/l_system_tree">L-System Tree</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/lorenz_attractor">Lorenz Attractor</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/objective_l_system">Objective L-System</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/perlin_noise_field">Perlin Noise Field</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/phyllotaxis">Phyllotaxis</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/purple_rain">Purple Rain</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/snakes_and_ladders">Snakes and Ladders</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/space_colonization_fractal_tree">Space Colonization</a>
                    <a class="list-group-item list-group-item-action" href="/node/projects/tunnel_vision">Tunnel Vision</a>

                    <a class="list-group-item list-group-item-action" href="/node/projects/circle_of_life">Circle of Life</a>

                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-ss1521407388="1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Javascript 30 Challenges</h5>
                            <small class="text-muted">Vanilla Javascript and CSS</small>
                        </div></a>

                        <a class="list-group-item list-group-item-action" href="/node/projects/circle_of_life">Circle of Life</a>
                    </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
