<% include partials/head %>
<%- include partials/navbar %>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="jumbotron bg-dark">
            <h1 class="display-3">Robert Bowes</h1>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="container card bg-dark clickable" id="main">
        </div>
    </div>
</div>

<% include partials/footer %>
