<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #7
    </div>
    <div class="card-body">
        <h3 class="">
            3D Terrain Generation
        </h3>
        <div class="card-text">
            <p>
                Another coding challenge from <a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">The Coding Train</a> using the P5 library and I have to say I think this one is particularly beautiful.
            </p>
            <p>
                Although it may kind of look as though the camera is flying over some terrain, what is actually happening is the terrain is being generated and moved towards the camera. The terrain is a grid of triangles on the x and y axis which is then moved along the z axis using a Perlin noise generator. Perlin noise is a pseudo-random number generator that uses the previous number value to generate the next value, thus creating a more natural look to the terrain. If a standard random number generator was used the terrain would appear very jagged rather than the wavy appearance shown here. In the future I would like to try and use this same method to create the appearance of flying over waves. 
            </p>
        </div>
    </div>
</div>


<div class="">
    <div class="sketch-holder" id="sketch-holder">

    </div>
</div>


<script type="text/javascript" src="/node/public/3d_terrain_generation/sketch.js" ></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
