<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #6
    </div>
    <div class="card-body">
        <h3 class="card-title">
            Update CSS with <span class="hl">JS</span>
        </h3>
        <div class="card-text">
            In this quick project from <a href="javascript30.com">javascript30.com</a> I learned to
            update CSS dynamically using JS.
        </div>
    </div>
</div>


<div class="">
    <div class="controls">
        <label for="spacing">Spacing: </label>
        <input type="range" name="spacing" value="10" min="10" max="200" data-sizing="px">
        <label for="blur">Blur: </label>
        <input type="range" name="blur" value="10" min="0" max="25" data-sizing="px">
        <label for="base">Base Color: </label>
        <input type="color" name="base" value="#ffc600">
    </div>
</div>

<img src="https://source.unsplash.com/xEh4hvxRKXM/800x500" alt="">


<script type="text/javascript" src="/node/public/css_variables/main.js"></script>
