<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #4
    </div>
    <div class="card-body">
        <h3 class="card-title"></h3>
        <div class="card-text">
            <p>
                This project was inspired by day two of the <a href="https://javascript30.com/">Javascript30.com</a>
                30 day programming challenge.
            </p>
            <p>
                As with the last project from Wes Bos, he uses CSS transform in some interesting ways.
                Programming clocks can make for some interesting challenges. In this case I found that I struggled to think of a way to stop the hands going backwards when they hit zero. I wanted to keep this as a quick project so I didn't dwell on it much. I will program another clock as a project and come back to this. 
            </p>
        </div>
    </div>
</div>

<div class="clock-area">
    <div class="clock">
        <div class="clock-face">
            <div class="hand hour-hand" id="hour-hand">

            </div>
            <div class="hand min-hand" id="min-hand">

            </div>
            <div class="hand second-hand" id="second-hand">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/node/public/css_js_clock/main.js"></script>
