<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #4
    </div>
    <div class="card-body">
        <h3 class="card-title"></h3>
        <div class="card-text">
            This project was inspired by javascript30.
        </div>
    </div>
</div>

<div class="clock-area">
    <div class="clock">
        <div class="clock-face">
            <div class="hand hour-hand" id="hour-hand">

            </div>
            <div class="hand min-hand" id="min-hand">

            </div>
            <div class="hand second-hand" id="second-hand">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/node/public/css_js_clock/main.js"></script>
