<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project #9
        </div>
        <div class="card-body">
            <h3 class="card-title">Objective Fractal Tree</h3>
            <div class="card-text">
                <p>Another really fun P5 project inspired by <a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">The Coding Train</a>.</p>
                <p>In this project I followed along with the tutorial about half way. As you can see I decided to make a brown tree with green leaves. The tree is an array of branches and each branch is an object. The branch object has a draw method and a fork method. The fork method returns a new branch starting at the end of the branch that calls it and ending at about 1/3 the length of the current branch and rotated by the angle that is inpput as a parameter.</p>
            </div>
        </div>
    </div>
</div>

<div class="" id="sketch-holder"></div>
<script type="text/javascript" src="/node/public/fractal_tree_oop/branch.js"></script>
<script type="text/javascript" src="/node/public/fractal_tree_oop/sketch.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
