<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project #16
        </div>
        <div class="card-body">
            <h3 class="card-title">Functional Space Colonizaton</h3>
            <div class="card-text">
            </div>
        </div>
    </div>
</div>

<canvas id="canvas" width="600" height="600"></canvas>

<script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
<script type="text/javascript" src="/node/public/functional_space_colonization/sketch.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.min.js"></script> -->
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
