<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #5
    </div>
    <div class="card-body">

    </div>
</div>

<div class="" id="sketch-holder">

</div>

<script type="text/javascript" src="/node/public/game_of_life/sketch.js"></script>
<script type="text/javascript" src="/node/public/game_of_life/main.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
