<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #5
    </div>
    <div class="card-body">
        <h3 class="card-title">
            Conway's Game of Life
        </h3>
        <div class="card-text">
            <p>
                This project was inspired by <a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">The Coding Train's</a> video tutorial on creating Conway's Game of Life.
            </p>
            <p>
                Conway's Game of Life is a well known programming challenge where a two dimensional world is created where each tile is a cell that can be alive or dead. Time progresses in turns, where each turn results in a new generation of cells. The new generation of cells follows these four rules:
                <ol>
                    <li>Any live cell with fewer than two live neighbours dies</li>
                    <li>Any live cell with two or three live neighbours lives</li>
                    <li>Any live cell with more than three live neighbours dies</li>
                    <li>Any dead cell with exactly three live neighbours becomes a live cell</li>
                </ol>
            </p>
            <p>
                The Coding Train's version of this game is written in Javascript using the P5 library. I mostly followed the tutorial for this one, however, there were a few areas I diverged from the Coding train. In my version there are walls around the four edges of the world, and the details of the code difffer slightly from his interpretation.
            </p>
            <p>
                This project is an interesting use of two dimensional arrays as a way of holding information, and using loops to iterate over the arrays. In the future I could try re-witing this project using vanilla Javascript, CSS and HTML. I would also want to try using higher order functions to manipulate the data.
            </p>
        </div>
    </div>
</div>

<div class="" id="sketch-holder">

</div>

<script type="text/javascript" src="/node/public/game_of_life/sketch.js"></script>
<script type="text/javascript" src="/node/public/game_of_life/main.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
