<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project #12
        </div>
        <div class="card-body">
            <h3 class="card-title">Objective L-System Grasses</h3>
            <div class="card-text">
                <p>
                    In this project I took the L-System tree I wrote in <a href="l_system_tree">project #11</a> and re-wrote it in an object oriented way. As a result I have more control over the generation of the fractals and I  can add colors to the individual branches an points to the tips.
                </p>
                <p>
                    This program takes some axioms I found in <a href="http://algorithmicbotany.org/papers/#abop">The Algorithmic Beauty of Plants</a> and creates objects from the axioms. I organized the objects into Trees and Branches, since I named them before I realized how similar to grasses they would look. To achieve the illusion that they are growing, the grasses are drawn three branches at a time.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="" id="sketch-holder"></div>
<script type="text/javascript" src="/node/public/objective_l_system/classes.js"></script>
<script type="text/javascript" src="/node/public/objective_l_system/sketch.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
