<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h3 class="card-title">Title</h3>
            <div class="card-text">
            </div>
        </div>
    </div>
</div>

<div class="" id="sketch-holder"></div>
<script type="text/javascript" src="/node/public/objective_l_system/classes.js"></script>
<script type="text/javascript" src="/node/public/objective_l_system/sketch.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
