<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Book
        </div>
        <div class="card-body">
            <h3 class="card-title">Learning Functional Javascript</h3>
            <div class="card-text">
                Look in the console
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/node/public/underscore.js"></script>
<script type="text/javascript" src="/node/public/r_functional.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
