<script type="text/javascript" src="/node/public/snakes_and_ladders/sketch.js"></script>
<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project #3
        </div>
        <div class="card-body">
            <h3 class="card-title">Snakes and Ladders Game</h3>
            <div class="card-text">
                <p>
                    This project was inspired by The Coding Traing challenge # 91.
                    It's my first time using the P5 library and my first project from
                    the coding train.
                </p>
                <p>
                    This snakes and ladders game generates random snakes and ladders
                    on the board and then moves the player around the board and
                    calculates the number of rolls taken to reach the end.
                </p>
                <p>
                    I have a lot to learn about the p5 library. I ran into a lot
                    of problems while trying to make this work that were really just
                    not knowing the p5 syntax.
                </p>
            </div>
        </div>
    </div>
    <div class="" id="sketch-holder">

    </div>
    <div class="">
        Rolls this game: <span id="rollsThisGame"></span>
    </div>
    <div class="">
        Average number of rolls: <span id="avgRolls"></span>
    </div>
</div>
<script type="text/javascript" src="/node/public/snakes_and_ladders/main.js"></script>
<script type="text/javascript" src="/node/public/snakes_and_ladders/tile.js"></script>
<script type="text/javascript" src="/node/public/snakes_and_ladders/player.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
