<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project #15
        </div>
        <div class="card-body">
            <h3 class="card-title">Space Colonization Fractal Tree</h3>
            <div class="card-text">
            </div>
        </div>
    </div>
</div>

<div class="" id="sketch-holder"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
<script type="text/javascript" src="/node/public/space_colonization_fractal_tree/functions.js"></script>
<script type="text/javascript" src="/node/public/space_colonization_fractal_tree/classes.js"></script>
<script type="text/javascript" src="/node/public/space_colonization_fractal_tree/sketch.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
