<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        Project #2
    </div>
    <div class="card-body">
        <h3 class="card-title">Techno Drum Kit</h3>
        <p class="card-text">
            A very basic drum kit you can play using your keyboard. This project
            was inspired by day one of the 30 day Javascript challenge found on
            <a href="https://javascript30.com/">Javascript30.com</a> with my own choice
            of sound and written in Javascript and Jquery.
        </p>
        <p>
            This projct does a really good job of linking CSS, Javascript and HTML.
            Somethign interesting about this code is that instead of using keyboard event
            listeners, like I might have done. Wes linked keyboard buttons to HTML
            elements. It is also the first time I have used CSS transform methods.
        </p>
    </div>
</div>
<div class="keys">
    <div class="key" data-key="81">
        <kbd>Q</kbd>
        <span>Drum</span>
    </div>
    <div class="key" data-key="87">
        <kbd>W</kbd>
        <span>Synth</span>
    </div>
    <div class="key" data-key="69">
        <kbd>E</kbd>
        <span>Synth</span>
    </div>
    <div class="key" data-key="82">
        <kbd>R</kbd>
        <span>Base</span>
    </div>
</div>
<div class="keys">
    <div class="key" data-key="65">
        <kbd>A</kbd>
        <span>Beat</span>
    </div>
    <div class="key beat" data-key="83">
        <kbd>S</kbd>
        <span>Beat</span>
    </div>
    <div class="key" data-key="68">
        <kbd>D</kbd>
        <span>Beat</span>
    </div>
    <div class="key" data-key="70">
        <kbd>F</kbd>
        <span>Beat</span>
    </div>
    <div class="key" data-key="71">
        <kbd>G</kbd>
        <span>Beat</span>
    </div>
    <div class="key" data-key="72">
        <kbd>H</kbd>
        <span>Beat</span>
    </div>
    <div class="key" data-key="74">
        <kbd>J</kbd>
        <span>Drum</span>
    </div>
    <div class="key" data-key="75">
        <kbd>K</kbd>
        <span>Drum</span>
    </div>
    <div class="key" data-key="76">
        <kbd>L</kbd>
        <span>Drum</span>
    </div>
</div>
<div class="keys">
    <div class="key" data-key="90">
        <kbd>Z</kbd>
        <span>Base</span>
    </div>
    <div class="key" data-key="88">
        <kbd>X</kbd>
        <span>Base</span>
    </div>
    <div class="key" data-key="67">
        <kbd>C</kbd>
        <span>Base</span>
    </div>
</div>
<audio data-key="65" src="/node/public/techno_drums/sounds/TechBeatC120a-01.ogg" class="beat"></audio>
<audio data-key="83" src="/node/public/techno_drums/sounds/TechBeatC120a-02.ogg"></audio>
<audio data-key="68" src="/node/public/techno_drums/sounds/TechBeatC120a-03.ogg"></audio>
<audio data-key="70" src="/node/public/techno_drums/sounds/TechBeatC120afx-01.ogg"></audio>
<audio data-key="71" src="/node/public/techno_drums/sounds/TechBeatC120afx-02.ogg"></audio>
<audio data-key="72" src="/node/public/techno_drums/sounds/TechBeatC120afx-03.ogg"></audio>
<audio data-key="74" src="/node/public/techno_drums/sounds/TechDHitCa-01.ogg"></audio>
<audio data-key="75" src="/node/public/techno_drums/sounds/TechDHitCa-02.ogg"></audio>
<audio data-key="76" src="/node/public/techno_drums/sounds/TechDHitCa-03.ogg"></audio>
<audio data-key="81" src="/node/public/techno_drums/sounds/TechDHitCa-04.ogg"></audio>
<audio data-key="87" src="/node/public/techno_drums/sounds/TechSynthM120E-01.ogg"></audio>
<audio data-key="69" src="/node/public/techno_drums/sounds/TechSynthM120E-02.ogg"></audio>
<audio data-key="90" src="/node/public/techno_drums/sounds/TechBassSA0.ogg"></audio>
<audio data-key="88" src="/node/public/techno_drums/sounds/TechBassSA1.ogg"></audio>
<audio data-key="67" src="/node/public/techno_drums/sounds/TechBassSC0.ogg"></audio>
<audio data-key="82" src="/node/public/techno_drums/sounds/TechBassR120E-01.ogg"></audio>



<script type="text/javascript" src="/node/public/techno_drums/main.js"></script>
