<div class="container">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            Project # 14
        </div>
        <div class="card-body">
            <h3 class="card-title">Spinning Wheels</h3>
            <div class="card-text">
                <p>
                    This project was completely on my own. Basically I set a goal of programming a spinning wheel, sat down and started coding. As things tend to be, this turned out to be harder than I expected. Actually, coding the wheel and makign it spin was easy, including the time it took to re-learn triginometry, it took under an hour. The hard part came when I tried to get the wheel to spin at the same speed as the ground underneath it. It seemed like no matter what I did, the wheels were spinning at a different speed from the ground. I checked and rechecked my math over an over. Watched video's about angular velocity, started to re-learn calculus...then it hit me...the wheel was spinning at exactly the right speed. It was the ground that was moving at the wrong speed. A quick fix to the code animating the ground and suddenly it all fit together quite nicely.
                </p>
                <p>
                    The lesson here is a great one. When something isn't working, when you are absolutly sure your code is right, maybe you are looking in the wrong direction. I hope I will remember this in the future, and always consider the whole problem before wasting too much time 'spinning my wheels', ha!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="" id="sketch-holder"></div>
<script type="text/javascript" src="/node/public/wheel/classes.js"></script>
<script type="text/javascript" src="/node/public/wheel/sketch.js"></script>
<script type="text/javascript" src="/node/public/p5.min.js"></script>
<!-- <script type="text/javascript" src="/node/public/p5.dom.min.js"></script> -->
